In [1]:
import pandas as pd

In [7]:
data = pd.read_excel("/home/cimcon/Desktop/Tender Usecases/Data/BOQ/BOQ_436332.xls")

In [9]:
data.head(20)

,Percentage BoQ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242
0,BoQ_Ver3.0,Percentage,Normal,INR Only,INR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Select, At Par, Excess (+), Less (-)",NaN,IOCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tender Inviting Authority: Nagar Parisad Kakra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name of Work: Work of Augmentation of Water Su...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Contract No: UAD/1216/Kakrahti/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Name of the Bidder/ Bidding Firm / Company :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PRICE SCHEDULE\n(This BOQ template must not be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NUMBER #,TEXT #,TEXT #,NUMBER #,TEXT #,NUMBER,NUMBER,TEXT,TEXT #,NUMBER #,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Sl.\nNo.,Item Description,Item Code / Make,Quantity,Units,Estimated Rate \nin\nRs. P,NaN,NaN,Addition / Deduction,Addition / Deduction Values,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,2,3,4,5,6,7,8,9,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,Work of Augmentation of Water Supply System of...,BI01010001010000000000000515BI0100001112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.00,Construction of chamber for 100mm sluices valve,item1,10.000,1 Nos
12,2,Total tender Value,BI01010001010000000000000515BI0100001129,1,Nos,115379000,NaN,NaN,Excess(+),1,...,NaN,NaN,NaN,NaN,NaN,1.01,"Supplying, Conveying and fixing spls. Includin...",item1,123.223,Nos
13,Total in Figures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.00,Construction of chamber for 100mm sluice plates,item5,10.000,Nos
14,Quoted Rate in Figures,NaN,NaN,NaN,Select,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Quoted Rate in Words,NaN,INR Zero Only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_1 = pd.read_csv("/home/cimcon/Desktop/Tender Usecases/Tender360/practice ipynb/processed_data.csv")

In [11]:
data_1.head(25)

,Sl.\nNo.,Item Description,Quantity,Units
0,1,2,4.0,5
1,1,Work of Augmentation of Water Supply System of...,NaN,NaN
2,2,Total tender Value,1.0,Nos
3,Total in Figures,NaN,NaN,NaN
4,Quoted Rate in Figures,NaN,NaN,Select
5,Quoted Rate in Words,NaN,NaN,NaN